@{
    Layout = "_Layout";
    ViewData["Title"] = "Удаление";
}


<div class="row">
    <div class="col-12">
        <a href="~/" class="btn button-reset">
            Назад к списку
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12 flex-center">
        <h2 class="heading heading--delete">
            Запись удалена
        </h2>
        <picture class="picture-delete">
            <img class="img-delete" src="~/img/delete-cat.png" alt="фото удаления">
        </picture>
    </div>

</div>