@{
    Layout = "_Layout";
    ViewData["Title"] = "Список";
}


<div class="row">
    <div class="col-12 ">
        <table class="box__table">
            <tr class="table__row table__row--one-row">
                <th class="cell">
                    ID
                </th>
                <th class="cell">
                    Фамилия
                </th>
                <th class="cell">
                    Имя
                </th>
                <th class="cell">
                    Отчество
                </th>
            </tr>
            @foreach (var item in ViewBag.Person)
            {
                <tr class="table__row table__row--not-even">
                    <td class="cell cell-slim">
                        <a class="link" href="Home/Info?id=@item.ID">
                            @item.ID
                        </a>
                    </td>
                    <td class="cell">
                        @item.Surname
                    </td>
                    <td class="cell">
                        @item.Name
                    </td>
                    <td class="cell">
                        @item.Patomic
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
